<footer id="footer">
    <div class="logo-cheers">
        <a href="http://cheersunlimited.com.ua" target="_blank">
            <img src="{{ asset('bundles/app/images/cheers-logo.png') }}">
        </a>
    </div>
    <small>
        {{ 'common.footer.footerTextStart'|trans }}
        <a href="http://cheersunlimited.com.ua" target="_blank">{{ 'common.footer.cheers'|trans }}</a>
    </small>
</footer>
