<section class="feedback">
    <h2>{{ 'common.prefooter.title'|trans }}</h2>
    <p>{{ 'common.prefooter.text'|trans }}</p>
    <div class="btn-small">
        <a href="{{ path('feedback') }}">
            <span>{{ 'button.feedback'|trans }}</span>
        </a>
    </div>
</section>
