/app/config/parameters.yml

/var/bootstrap.php.cache
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/sessions/logs/*
!sessions/logs/.gitkeep

/src/AppBundle/Resources/front/node_modules/*
/src/AppBundle/Resources/front/jspm_packages/*
/src/AppBundle/Resources/public/*
/npm-debug.log

/vendor/

/www/bundles/
/www/uploads/
/www/media/

/composer.lock

/phpunit.xml.dist
