{% block user_block %}
    <p style="text-align: right; padding: 10px; font-size: 1.125em; text-decoration: underline;">
        <a href="{{ logout_path('main') }}">Логаут ></a>
    </p>
{% endblock %}
