@import "components/common.less";
@import "components/forms.less";

/*********************************/
/* layout start                  */
/*********************************/
#header{
    position: absolute;
    .logo{ z-index: 1; }
}

#page,
#content{
	width: 100%;
	height: auto;
}
#content{
	position: relative;
	height: 100%;
	background: url("../images/feedback.jpg") no-repeat 50% 0 fixed;
	background-size: cover;
}
.outer{
    width: 100%;
    max-width: 1200px;
    padding-top: 140px;
    margin: 0 auto;
    margin-bottom: 80px;
    position: relative;
	&:last-child{
		margin-bottom: 0;
		padding-bottom: 80px;
	}
    h2, p{
        text-align: center;
        color: @white;
        padding: 0 20px;
    }
    .sptr-small{ margin: 10px auto 20px; }
}
/*********************************/
/* layout end                    */
/*********************************/


/*********************************/
/* contacts start                */
/*********************************/
.contacts{
    .contact-icons{
        display: block;
        width: 100%;
        text-align: center;
        li{
            display: inline-block;
            vertical-align: top;
            width: auto;
            white-space: -1;
            margin-left: -4px;
            padding: 0 20px;
            &:first-child{ margin-left: 0; }
            span, a{ color: @white; }
            .icon{
                display: block;
                width: 40px;
                height: 40px;
                font-size: 2.5em;
                margin: 0 auto 10px;
                &:before{
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }
}
/*********************************/
/* contacts end                  */
/*********************************/

/*********************************/
/* feedback start                */
/*********************************/
.feedback{
    padding-top: 0;
    & > p{
        max-width: 68%;
        margin: 0 auto;
    }
}
#feedback-form{
    width: 68%;
    margin: 40px auto 0;
    .field-holder{ margin-bottom: 20px; }
    button[type="submit"]{
        margin-top: 40px;
        & > .btn-small{
            span{ color: inherit; }
        }
    }
}
/*********************************/
/* feedback end                  */
/*********************************/

/*********************************/
/* adaptive start                */
/*********************************/
@media only screen and @notebook{

    .outer{ padding-top: 80px; }
    .feedback{ padding-top: 0; }

}

@media only screen and @tablet{

    .feedback{
        padding: 0 40px;
        box-sizing: border-box;
        p{
             max-width: 100%;
             padding: 0;
        }
    }
    #feedback-form{ width: 100%; }

}

@media only screen and @smartphone600{

	#content{
		background: url("../images/feedback.jpg") no-repeat 50% 0;
		background-size: cover;
	}

}

@media only screen and @smartphone440{

    .contacts{
        margin-bottom: 40px;
        .contact-icons{
            display: block;
            width: 100%;
            text-align: center;
            li{
                display: block;
                vertical-align: none;
                width: 100%;
                white-space: normal;
                margin-left: 0;
                box-sizing: border-box;
                &:first-child{ margin-bottom: 40px; }
            }
        }
    }

}
/*********************************/
/* adaptive end                  */
/*********************************/
